@use "./../../../../public/styles/colores.scss";



h1{
    font-size: 50px;
    font-weight: bold;
    padding-right: 20px;
}

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px; 
}

nav a {
    margin: 20px;
    font-size: 20px;
    text-decoration: none; 
    color: colores.$color-principal
}

nav i {
    font-size: 20px;
    padding: 10px;
    color: colores.$color-principal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none; 
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 20px; 
    color: colores.$color-principal; 
    background-image: url(../../../../public/imagenes/pexels-brett-sayles-1756957.jpg);
    background-size: cover;
}