@use "./../../../../public/styles/colores.scss";

h1{
    font-size: 50px;
    font-weight: bold;
    padding-right: 20px;
}

nav {
    display: flex;
    justify-content: space-between; // o 'space-around' para más separación
    align-items: center;
    padding: 10px 20px; // ajustar padding para mayor separación
}

nav a {
    margin: 20px;
    font-size: 20px;
    text-decoration: none; // elimina subrayado si no lo necesitas
    color: colores.$color-principal// aplica color directo
}

nav i {
    font-size: 20px;
    padding: 10px;
    color: colores.$color-principal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none; // elimina subrayado si no lo necesitas
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between; // distribuye el contenido al inicio y al final
    align-items: center; // centra los elementos verticalmente
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 20px; // ajusta el padding según sea necesario
    color: colores.$color-principal
}