@use "./../../../../public/styles/colores.scss";


#tabla{
    display: flex;
    flex-direction: column;
    margin: 120px;
    margin-top: 0px;
    text-align: center;
    padding-top: 50px;
    
    #header-tabla{
        font-size: larger;
        font-weight: bold;
        background-color: colores.$color-principal;
        padding-top: 20px;
        padding-bottom: 20px;
        color:rgb(34, 34, 34);
    }
    >div{
        display: grid;
        grid-template-columns: 100px 1fr 1fr 1fr;
        border-bottom: 1px solid rgb(73, 73, 73);
        align-items: center;
        background-color: rgba(255, 255, 255, 0.618);
    }
    .disponible p{
        background-color: rgb(114, 222, 114);
        width: fit-content;
        margin: 10px auto;
        border-radius: 3px;
        // height: 20px;
        text-align: center;
        padding: 10px 20px;
    }
    .deshabilitado p{
        background-color: rgb(200, 200, 200);
        width: fit-content;
        margin: 10px auto;
        border-radius: 3px;
        // height: 20px;
        text-align: center;
        padding: 10px 20px;
    }
    .ocupado p{
        width: fit-content;
        margin: 10px auto;
        border-radius: 3px;
        // height: 20px;
        text-align: center;
        padding: 10px 20px;
    }

    .disponible{
        background-color: colores.$color-correcto;
        padding: 10px;
        border-radius: 10px;
        width: 100px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        
    }

    .ocupado{
        background-color: colores.$color-ocupado;
        padding: 10px;
        border-radius: 10px;
        width: 100px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }


}

.boton-agregarcocheras{
    margin: auto;
    margin-left: 730px;
    background-color: colores.$color-principal;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    
}

.boton-getcocheras{
    margin: auto;
    margin-left: 730px;
    background-color: colores.$color-principal;
    padding: 10px;
    border-radius: 20px;
    display: flex;
}





main{
    min-height: 650px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     
}

.acciones-container i {
    background: none;
    padding: 8px;
    font-size: 25px;
    cursor: pointer;
    
}

#bloquear{
    color: rgb(169, 16, 16);
}

body{
    background-image: url(./../../../../public/imagenes/pexels-brett-sayles-1756957.jpg);
    background-size: cover;
}
