@use "./../../../../public/styles/colores.scss";

#container {
  background-color: rgba(173, 216, 230, 0.792); // Fondo general en celeste claro
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  background-image: url(./../../../../public/imagenes/pexels-brett-sayles-1756957.jpg);
  background-size: cover; 
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0%;
}

#titulo {
  flex: 1.5; // Permite que el título ocupe el espacio restante
  display: flex;
  justify-content: left; 
  align-items: center; // Centra el título verticalmente
  background-size: cover;
  
}


h1 {
  font-size: 85px;
  color: colores.$color-texto; // Cambia este color en tu archivo de colores si es necesario
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form {
  flex: 1; // Permite que el formulario ocupe el espacio restante
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.8); // Fondo blanco translúcido
  border-radius: 15px;
  padding: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form input {
  border: 1px solid colores.$color-principal;
  border-radius: 40px;
  padding: 15px 20px;
  width: 100%;
  margin: 10px 0;
  background: transparent;
  outline: none;
  box-sizing: border-box;
}

button.iniciar-sesion {
  background-color: rgb(24, 114, 225);
  color: white;
  padding: 10px;
  border-radius: 15px;
  width: 100%;
  margin: 20px 0;
  cursor: pointer;
  border: none;
  font-size: 14px;
  &:hover {
    background-color: rgb(34, 144, 255); 
    transition: background-color 0.3s ease; 
  }
}

#usuario, #contraseña {
  position: relative;
  width: 100%;
  margin: 15px 0;
}

#usuario i, #contraseña i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #999;
}

#recuerdame {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

#recuerdame p {
  margin-left: 10px;
  font-size: 14px;
  color: #555;
}

a {
  color: black;
  text-decoration: none;
  margin-top: 15px;
}

a:hover {
  text-decoration: underline;
}














