<body>
<app-header></app-header>


    <div id="table">
        <div id="header-tabla">
            <div>Número</div>
            <div>Mes</div>
            <div>Usos</div>
            <div>Cobrado</div>
        </div>
        <div class="fila">
            <div>1</div>
            <div>10/2024</div>
            <div>808</div>
            <div>$879</div>
        </div>
        <div class="fila">
            <div>2</div>
            <div>10/2024</div>
            <div>502</div>
            <div>$583</div>
        </div>
        <div class="fila">
            <div>3</div>
            <div>10/2024</div>
            <div>808</div>
            <div>$879</div>
        </div>
        <div class="fila">
            <div>4</div>
            <div>10/2024</div>
            <div>502</div>
            <div>$583</div>
        </div>
        <div class="fila">
            <div>5</div>
            <div>10/2024</div>
            <div>808</div>
            <div>$879</div>
        </div>
        <div class="fila">
            <div>6</div>
            <div>10/2024</div>
            <div>502</div>
            <div>$583</div>
        </div>
        <div class="fila">
            <div>7</div>
            <div>10/2024</div>
            <div>808</div>
            <div>$879</div>
        </div>
        <div class="fila">
            <div>8</div>
            <div>10/2024</div>
            <div>502</div>
            <div>$583</div>
        </div>
    </div>
</body>