@use "./../../../../public/styles/colores.scss";



main {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    background-image: url(./../../../../public/imagenes/pexels-brett-sayles-1756957.jpg);
    background-size: cover;
    height: 100vh;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    
}
#tabla {
    display: flex;
    flex-direction: column;
    margin: 120px;
    margin-top: 0px;
    margin-bottom: 0;
    text-align: center;
    padding-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none; 

    #header-tabla, > div {
        display: grid;
        grid-template-columns: 100px 1fr 1fr 1fr; 
        align-items: center;
        text-align: center;
    }

    #header-tabla {
        font-size: larger;
        font-weight: bold;
        background-color: colores.$color-principal;
        padding: 20px 0;
        color: rgb(255, 252, 252);
    }

    > div {
        border-bottom: 1px solid rgb(73, 73, 73);
        background-color: rgba(255, 255, 255, 0.618);
        padding: 10px;
    }

    .disponible p, .no-disponiblep, .ocupado p {
        width: fit-content;
        margin: 10px auto;
        border-radius: 3px;
        text-align: center;
        padding: 10px 20px;
    }

    .disponible {
        background-color: colores.$color-correcto;
        padding: 10px;
        border-radius: 10px;
        width: 100px;
        margin: auto;
    }

    .ocupado {
        background-color: colores.$color-ocupado;
        padding: 10px;
        border-radius: 10px;
        width: 100px;
        margin: auto;
    }
}